{% extends "base/dashboardAlmacen.html" %}

{% block title %} Productos En Alamcen {% endblock title %}


{% block main %}
<div ng-app="MagazineApp" ng-controller="ListGuideResumenCtrl as vm">

<h3> <toast></toast></h3>
<div class="col-md-12">
  <div class="row">
    <div class="alert alert-success" role="alert"><h4>Estado De Guias y Productos y Diarios</h4></div>
  </div>

  <section class="widget">
    <div class="row">
      <div class="col-md-4">
          <fieldset>
              <legend>
                  Fecha Inicio
              </legend>
              <div class="input-group">

                  <input id="datetimepicker" type="date" class="form-control" ng-model="vm.fecha1">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
          </fieldset>
      </div>
      <div class="col-md-4">
          <fieldset>
              <legend>
                  Fecha Fin
              </legend>
              <div class="input-group">

                  <input id="datetimepicker" type="date" class="form-control" ng-model="vm.fecha2" ng-change="vm.buscar_guias()">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
          </fieldset>
      </div>
      <div class="col-md-4">
          <fieldset>
              <legend>
                  Filtrar Por:
              </legend>
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                  <select class="form-control" ng-model="vm.culminado">
                    <option value="">Todo</option>
                    <option value="true">Cerradas</option>
                    <option value="false">No Cerradas</option>
                  </select>
              </div>
          </fieldset>
      </div>
    </div>

    <!-- lista de guias -->
    <div id="print-section">
    <section class="widget">
      <legend>Resumen Guias en Rango Fechas: {$ vm.fecha1|date $}/{$vm.fecha2|date$}</legend>
      <div class="row" ng-repeat="g in vm.guias |filter:{culmined:vm.culminado}">
        <table class="table table-bordered">
          <tr>
            <th>Numero</th>
            <th>Proveedor</th>
            <th>Fecha Recepcion</th>
            <th>Estado</th>
          </tr>
          <tr>
            <th>{$ g.number $}</th>
            <th>{$ g.provider $}</th>
            <th>{$ g.date|date $}</th>
            <th>
              <strong><span ng-show="g.culmined"class="text-danger">Cerrado</span></strong>
              <strong><span ng-show="!g.culmined">No Cerrado</span></strong>
            </th>
          </tr>
        </table>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Diario</th>
                <th>C.Recp</th>
                <th>C.Entr</th>
                <th class="info">Diferencia</th>
                <th>Pre.Ven</th>
                <th>Can.Ven</th>
                <th>Can.Per</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dg in g.itmes">
                <th>{$ dg.magazine  $}</th>
                <th>{$ dg.count_reception  $}</th>
                <th>{$ dg.count_deliver  $}</th>
                <th class="info"><strong><span class="text-primary">{$ dg.count_diferencia  $}</span></strong></th>
                <th>{$ dg.precio_venta  $}</th>
                <th>
                  {$ dg.count_vendido  $}
                </th>
                <th>
                  {$ dg.count_perdida  $}
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <legend></legend>
      </div>

    </section>
    </div>

  </section>
  <section class="widget">
    <button class="btn btn-sm btn-warning" ng-click="vm.imprimir()">Imprimir Resumen</button>
  </section>
</div>
</div>
{% endblock main %}
