{% extends "base/dashboardAdmin.html" %}

{% block title %} Eliminar Cierre {% endblock title %}


{% block main %}
<h1 class="page-title">Eliminar<span class="fw-semi-bold"> Cierre Mes</span></h1>
<div class="col-md-6">
    <section class="widget">
        <div class="widget-body">
            <form class="form-horizontal" role="form" action="{% url 'reportes_app:cierre-delete' cierremes.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-actions">
                    <div class="row center">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="alert alert-danger">
                                ¿Esta seguro este cierre de mes: <span class="fw-semi-bold">{{cierremes.mes}}</span>?.
                            </div>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a href="{% url 'reportes_app:cierre-list' %}" class="btn btn-inverse">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
{% endblock main %}
