{% extends "administracion/base_admin.html" %}

{% block title %}Reporte Control de Facturas{% endblock title %}

{% block content %}
  {% include "include/header.html" %}

  <div class="grid-container" ng-app="DppApp" ng-controller="EmitirBoletaCtrl as self">
    <h5>Emitir Comprobante de pago:</h5>
    <div class="grid-x grid-margin-x align-center">
      <div class="cell small-12 medium-6 large-4">
        <label>Razon Social:
          <select ng-model="self.rs">
            <option value="0">DPP</option>
            <option value="1">MAX</option>
          </select>
        </label>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <label>Seleccione Agente:
          <select ng-model="self.departamento">
            <option ng-repeat="d in self.departamentos" value="{$ d.pk $}">{$ d.name $}</option>
          </select>
        </label>
      </div>

      <div class="cell small-12 medium-6 large-4">
        <label>Fecha Venta:
          <input type="date" name="fecha" ng-model="self.fecha" ng-change="self.cargar_magazine()">
        </label>
      </div>

      <div class="cell small-12 medium-6 large-4">
        <label>Numero:
          <input type="text" name="numero boleta" placeholder="0002-21" ng-model="self.numero">
        </label>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <label>Fecha Emision Boleta:
          <input type="date" name="facha boleta" ng-model="self.fecha_boleta">
        </label>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <label>Aplicar Descuento de:
          <input type="text" name="facha boleta" placeholder="0.001" ng-model="self.descuento" ng-change="self.aplicar_descuento()">
        </label>
      </div>
      <div class="cell small-12 medium-6 large-12">
        <div class="grid-x">
          <div class="cell large-2">
            <label>Afectos:
              <input type="checkbox" name="afectos" ng-model="self.afecto">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell small-12 large-3">
        <a href="{% url 'administracion_app:administracion-proceso_boletas_emitidas' %}" class="button primary">Todas las Boletas</a>
      </div>
      <div class="cell small-12 large-3">
        <button type="button" name="button" class="button secondary" ng-click="self.seleccionar_bloque()">Seleccionar Bloque</button>
      </div>
      <div class="cell small-12 large-3">
        <button type="button" name="button" class="button alert" ng-click="self.limpiar_bloque()">Limpiar Bloque</button>
      </div>
      <div class="cell small-12 large-3">
        <h3>Monto: S/. {$ self.total  $}</h3>
      </div>
    </div>
    <div class="grid-x align-center" style="margin-top:2em;">
      <table>
        <thead>
          <th>Codigo</th>
          <th>Diario</th>
          <th>Cantidad</th>
          <th>Precio U</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Accion</th>
        </thead>
        <tbody>
          <tr ng-repeat="i in self.items |filter:{afecto:self.afecto}">
              <td>{$ i.codigo $}</td>
              <td>{$ i.magazine $}</td>
              <td><strong>{$ i.count $}</strong></td>
              <td><strong>{$ i.precio_sunat $}</strong></td>
              <td>{$ i.amount $}</td>
              <td>
                <span class="text-danger">Nuevo</span>
              </td>
              <td>
                <input type='checkbox' ng-model="i.emitido" ng-change="self.calcular_montos()">
              </td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr ng-repeat="ib in self.items_impreso |filter:{afecto:self.afecto}">
              <td>{$ ib.codigo $}</td>
              <td>{$ ib.magazine $}</td>
              <td><strong>{$ ib.count $}</strong></td>
              <td><strong>{$ ib.precio_sunat $}</strong></td>
              <td>{$ ib.amount $}</td>
              <td>
                <span style="color:red">Generado</span>
              </td>
              <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="grid-x grid-margin-x align-center">
      <div class="cell shrink">
        <button type="button" class="button warning" name="button" ng-click="self.generar_boleta()">Generar</button>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="cell callout">
        <table id="lista-facturas">
        <tbody>
            <td>
              <table class="table">
                <thead>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td>{$ self.numero $}</td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="3">SINDICATO DE VENDEDORES DE DIARIOS {$ self.departamento.boleta $}</td>
                    <td></td>
                    <td></td>
                    <td>{$ self.fecha_boleta_gen $}</td>
                  </tr>
                  <tr>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{$ self.departamento_boleta $}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in self.items_selccionados">
                    <td></td>
                    <td>{$ i.codigo $}</td>
                    <td></td>
                    <td colspan="3">{$ i.magazine $}</td>
                    <td><strong>{$ i.count $}</strong></td>
                    <td><strong>{$ i.precio_sunat $}</strong></td>
                    <td>{$ i.amount $}</td>
                  </tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr></tr>
                  <tr>
                    <td></td>
                    <td colspan="8">{$ self.total_letra $}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr></tr>
                  <tr></tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{$ self.total| currency: "S/." $}</strong></td>
                  </tr>
                </tbody>
              </table>
            </td>
        </tbody>
      </table>
      </div>
      <div class="cell shrink">
        <button type="button" id="imprimir" class="button secondary" onclick="imprimir_liquidacion('Comprobante-pago.xls')" ng-click="self.guardar_boleta()">Imprimir</button>
      </div>
    </div>
  </div>
{% endblock content %}
