{% extends "base/dashboardCaja.html" %}

{% block title %} Detalle Boleta Anulada {% endblock title %}


{% block main %}
<h1 class="page-title">Pagos de Boleta Anulada</h1>
<div class="col-md-12">
    <section class="widget">
        <header>

            <div class="widget-controls">
                <a href="#"><i class="fa fa-refresh"></i></a>
            </div>
        </header>
        <div class="widget-body">
          <div class="alert alert-success" role="alert">
            <span class="fw-semi-bold">{{boleta}}</span>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Boleta</th>
                  <th>Canilla</th>
                  <th>diario</th>
                  <th>Monto</th>
                  <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                {% for l in  list_payment %}
                  <tr>
                      <td>{{l.invoce.pk}}</td>
                      <td>{{l.invoce.vendor}}</td>
                      <td>{{l.count_payment}}</td>
                      <td>S./{{l.amount}}</td>
                      <td>{{l.created}}</td>
                      {% empty %}
                          <td colspan="7">No se Registro Pagos El Dia de Hoy</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            <div class="col-sm-offset-4 col-md-4">
              <a href="{% url 'pagos_app:pagos-anulados' %}" type="button" class="btn btn-default btn-block">Volver</i></a>
            </div>
          </div>
        </div>
    </section>
</div>
{% endblock main %}
