{% extends "base/dashboardAlmacen.html" %}

{% block title %} Recepcion{% endblock title %}


{% block main %}
<div ng-app="MagazineApp" ng-controller="GuideCtrl as vm">
<h2 class="col-sm-offset-2 page-title">Guia de Remision</h2>
<h3> <toast></toast></h3>
<form name="formGuia" class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="col-sm-offset-1 col-md-10">
    <section class="widget">
        <header>
            <div class="widget-controls">
                <a href="."><i class="fa fa-refresh"></i></a>
            </div>
        </header>
        <div class="widget-body">
                <fieldset>
                    <legend><strong>Datos Guia</strong></legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="provider">
                          Destinatario(<span class="label label-danger">*importante</span>):
                        </label>
                        <div class="col-sm-7">
                          <select class="form-control" ng-model="vm.guide.addressee">
                            <option value="0">DPP</option>
                            <option value="1">MAX CARGO</option>
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="number">Numero de Guia: </label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
                                <input id="number" name="number" class="form-control"
                                  size="16" type="text" placeholder="Numero de Guia"
                                  ng-model="vm.guide.number"

                                  ng-class="{ 'error' : formGuia.number.$invalid && !formGuia.number.$pristine }" required>
                                  <span ng-show="formGuia.number.$invalid && !formGuia.number.$pristine" class="text-danger">Este Campo es Requerido</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="invoce">Numero de Interno: </label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
                                <input id="invoce" name="invoce" class="form-control" size="16" type="number"
                                    placeholder="Numero interno" ng-model="vm.guide.invoce" min="0"
                                    ng-class="{ 'error' : formGuia.invoce.$invalid && !formGuia.invoce.$pristine }"
                                >
                                <span ng-show="formGuia.invoce.$invalid && !formGuia.invoce.$pristine" class="text-danger">El Numero no es Correcto</span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="provider">
                            Proveedor:
                        </label>
                        <div class="col-sm-7">
                            <select id="provide" name="provider" class="form-control" ng-model="vm.guide.provider" required
                                ng-class="{ 'error' : formGuia.provider.$invalid && !formGuia.provider.$pristine }"
                            >
                                <option ng-repeat="p in vm.providers" value="{$p.pk$}">{$ p.name $}</option>
                            </select>
                            <span ng-show="formGuia.provider.$invalid && !formGuia.provider.$pristine" class="text-danger">Seleccione un Proveedor</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="invoce">Dias de Vencimiento: </label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="invoce" name="plazo" class="form-control" size="16" type="number"
                                    ng-model="vm.guide.plazo" min="0",required
                                    ng-class="{ 'error' : formGuia.plazo.$invalid && !formGuia.plazo.$pristine }"
                                >
                                <span ng-show="formGuia.plazo.$invalid && !formGuia.plazo.$pristine" class="text-danger">Ingrese un plazo valido</span>
                                <span class="text-danger" ng-show="vm.check">Campo necesario</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <legend><strong>Datos Productos</strong></legend>
                    </fieldset>
                    <fieldset data-ng-repeat="c in vm.cantidad">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                              </th>
                              <th>Diario/Producto</th>
                              <th>Cantidad</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              <td>
                                <input class="form-control" name="buscar" type="text"
                                    placeholder="buscar..." ng-model="vm.buscar.item[c.id]"
                                >
                              </td>
                              <td>
                                <select class="form-control" ng-model="vm.prod.item[c.id]"
                                required ng-change="vm.validations(formGuia.$valid)">
                                    <option ng-repeat="d in vm.diarios | filter:vm.buscar.item[c.id]" value="{$d.pk$}">{$ d.magazine $}--{$ d.day $}</option>
                                </select>
                                <span ng-show="vm.valid0" class="text-danger">Seleccione un diario</span>
                              </td>
                              <td>
                                <input class="form-control" name="cantidad" size="16" type="number"
                                    placeholder="Cantidad" ng-model="vm.count.item[c.id]"
                                    ng-value="0" min="1" required
                                    ng-class="{ 'error' : vm.valid1 }"
                                    ng-change="vm.validations(formGuia.$valid)"
                                >
                                <span ng-show="vm.valid1" class="text-danger">Ingrese una Cantidad Positiva</span>

                              </td>
                              <td>
                                <button type="button" class="btn btn-success" ng-show="$last" ng-click="vm.addNewChoice()"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-danger" ng-click="vm.removeChoice()"><i class="fa fa-minus"></i></button>
                              </td>
                          </tbody>
                        </table>
                      </div>
                    </fieldset>
                    <fieldset>
                        <legend><strong>Datos Entrega</strong></legend>
                        <div class="form-group">
                            <div class="col-sm-4">
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox2" type="checkbox" ng-model="vm.guide.asignar" ng-change="vm.cagar_agentes()">
                                  <label for="checkbox2">
                                      Entregar
                                  </label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <select id="agente" name="agente" class="form-control" ng-model="vm.guide.agente"
                                    ng-class="{ 'error' : formGuia.agente.$invalid && !formGuia.agente.$pristine }"
                                >
                                    <option ng-repeat="a in vm.agentes | filter:{type_vendor:1}" value="{$a.pk$}">{$ a.name $}--{$ a.seudonimo $}</option>
                                </select>
                                <span ng-show="formGuia.provider.$invalid && !formGuia.provider.$pristine" class="text-danger">Seleccione un Agente</span>
                            </div>
                        </div>

                      </fieldset>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-offset-5 col-sm-7">
                          <button type="submit" class="btn btn-primary" ng-disabled="vm.check" ng-click="vm.enviar()">Guardar</button>
                          <span ng-show="vm.check" class="text-danger">Corrija los datos</span>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
</form>
</div>
{% endblock main %}
